.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s;
	outline: none;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}

html {
	font-family: 'Lato', sans-serif;
	color: #2A3A3F;
	line-height: 1.61803398875;
	background: #eeeeee;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a.btn {
	white-space: nowrap;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .025em;
	text-decoration: none;
	transition: all .15s ease;
	color: #2A3A3F;
	text-shadow: 0 1px 3px rgba(36,180,126,.4);
	border: 2px solid blue;
	background: transparent;
}

	a.btn:hover {
		transform: translateY(-2px);
		box-shadow: 0 7px 14px rgba(50,50,93,.3), 0 3px 6px rgba(0,0,0,.2);
	}


.home-header {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('images/home-bg.jpg');
	background-size: contain;
	text-align: center;
}

	.home-header h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-weight: 800;
		font-size: 60px;
		color: #ffffff;
	}

	.home-header a {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
		color: #ffffff;
		font-weight: 800;
		letter-spacing: 1px;
	}

		.home-header a:after {
			content: "\f078";
			font-family: FontAwesome;
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			color: #ffffff;
			font-size: 20px;
		}

		.home-header a:hover {
		    transform: translate(-50%, -2px);
		}

.home-container {
	width: 100%;
	max-width: 1120px;
	margin: 50px auto;
	display: block;
}
	
	.home-container h2 {
		text-align: center;
		font-weight: 800;
		font-size: 40px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}