.cf:before,
.cf:after
{
    display: table;

    content: ' ';
}

.cf:after
{
    clear: both;
}

.cf
{
    *zoom: 1;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    transition: all .6s;

    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga' on;
}

html
{
    font-family: 'Lato', sans-serif;
    line-height: 1.61803398875;

    color: #1c1b20;
    background: #eee;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

a.btn
{
    font-size: 15px;
    font-weight: 600;

    position: relative;

    display: inline-block;

    padding: 10px 14px;

    transition: all .15s ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #4aa254;
    border: 2px solid #4aa254;
    border-radius: 4px;
    background: transparent;
}

a.btn:hover
{
    color: #fff;
    background: #4aa254;
}

.borders > div
{
    position: fixed;
    z-index: 50;

    background: #fff;
}

.borders > .top
{
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
}

.borders > .bottom
{
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;
}

.borders > .left
{
    top: 0;
    left: 0;

    width: 50px;
    height: 100%;
}

.borders > .right
{
    top: 0;
    right: 0;

    width: 50px;
    height: 100%;
}

.menu
{
    position: fixed;
    z-index: 75;
    top: 0;
    left: 0;

    width: 60%;
    max-width: 50px;
    height: 100%;

    transition: max-width .6s;

    background: #fff;
}

.menu-hover .menu
{
    max-width: 100px;
}

.menu-active .menu
{
    max-width: 65%!important;
}

.menu .toggle
{
    position: absolute;
    top: 50%;
    left: 40px;

    transform: translateY(-50%) rotate(-90deg);
}

.menu .toggle i
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 30px;
    height: 30px;

    transform: translateX(-50%) rotate(0deg);
    text-align: center;
}

.menu .toggle i
{
    top: 50%;

    transform: translate(-50%,-50%) rotate(0deg);
}

.menu .toggle i span
{
    display: inline-block;

    width: 2px;
    margin: 0 1px;

    opacity: 1;
    background: #1c1b20;
}

.menu .toggle i span:nth-child(1)
{
    height: 15px;
}

.menu .toggle i span:nth-child(2)
{
    height: 20px;
}

.menu .toggle i span:nth-child(3)
{
    height: 10px;
}

.menu .toggle.menu-hover i span:nth-child(1)
{
    height: 20px;
}

.menu .toggle.menu-hover i span:nth-child(2)
{
    height: 20px;
}

.menu .toggle.menu-hover i span:nth-child(3)
{
    height: 18px;
}

.menu-active .menu .toggle i span:nth-child(1)
{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 20px!important;

    transform: translate(-50%) rotate(-45deg);
}

.menu-active .menu .toggle i span:nth-child(2)
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%) rotate(45deg);
}

.menu-active .menu .toggle i span:nth-child(3)
{
    opacity: 0;
}

.menu .toggle p
{
    font-size: 14px;
    font-weight: 800;

    padding-top: 30px;

    letter-spacing: 1px;
    text-transform: uppercase;

    opacity: 1;
}

.menu-active .menu .toggle p
{
    opacity: 0;
}

.main
{
    display: block;

    padding: 50px;
}

.menu-active .main
{
    transform: translateX(calc(50%));
}

.home-header
{
    position: relative;

    display: block;

    width: 100%;
    height: 100vh;

    text-align: center;

    background: url('images/home-bg.jpg');
    background-size: cover;
}

.home-header:before
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    content: '';

    background: #4aa254;
}

.home-header:after
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;

    content: '';

    background: #f5f5f5;
}

.home-header h1
{
    font-size: 60px;
    font-weight: 800;

    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    color: #fff;
}

.home-header a
{
    font-weight: 800;

    position: absolute;
    z-index: 6;
    bottom: 60px;
    left: 50%;

    transform: translateX(-50%);
    letter-spacing: 1px;

    color: #fff;
}

.home-header a:after
{
    font-family: FontAwesome;
    font-size: 20px;

    position: absolute;
    bottom: -30px;
    left: 50%;

    content: '\f078';
    transform: translateX(-50%);

    color: #fff;
}

.home-header a:hover
{
    transform: translate(-50%, -2px);
}

.home-container
{
    display: block;

    width: 100%;
    max-width: 1120px;
    margin: 50px auto;
}

.home-container h2
{
    font-size: 40px;
    font-weight: 800;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-container h4
{
    font-size: 18px;
    font-weight: 800;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-container h4 a
{
    opacity: .66;
    color: #4aa254;
}

.home-container h4 a:hover
{
    opacity: 1;
}

.home-container > ul
{
    display: block;

    width: 100%;
    margin-top: 50px;
}

.home-container > ul > li
{
    position: relative;

    display: block;

    width: 100%;
}

.home-container > ul > li:not(:last-child)
{
    margin-bottom: 50px;
}

.home-container > ul > li:not(:last-child):after
{
    position: absolute;
    bottom: -29px;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';

    background: rgba(0, 0, 0, .2);
}

.home-content
{
    display: inline-block;

    width: calc(100% - 400px);
    margin-right: 50px;
}

.home-container li h3
{
    font-size: 30px;
    font-weight: 800;
    line-height: 1;

    display: block;
}

.home-container li small
{
    font-size: 12px;
    font-style: italic;

    display: block;

    padding: 5px 0 20px;

    opacity: .66;
}

.home-container li p
{
    display: block;

    padding-bottom: 20px;
}

.home-container li a.btn.active
{
    padding: 10px 44px 10px 14px;

    color: #f44336;
    border: 2px solid #f44336;
}

.home-container li a.btn.active:hover
{
    color: #fff;
    background: #f44336;
}

.home-container li a.btn.active:after
{
    font-family: FontAwesome;
    font-size: 20px;

    position: absolute;
    top: 50%;
    right: 15px;

    content: '\f00d';
    transform: translateY(-50%);

    color: #f44336;
}

.home-container li a.btn.active:hover:after
{
    color: #fff;
}

.home-image
{
    position: absolute;
    top: 30px;
    right: 0;

    width: 100%;
    max-width: 275px;
}

.home-image img
{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.expand-image
{
    display: none;

    width: 100%;
    max-width: 100%;
    margin-top: 50px;

    text-align: center;
}

.expand-image.active
{
    display: block;
}

.expand-image img
{
    width: 100%;
    max-width: 100%;
}

footer
{
    width: 100%;
    padding: 100px 50px;

    text-align: center;

    color: #fff;
    background: #4aa254;
}

footer h2
{
    font-size: 40px;
    font-weight: 800;

    display: block;

    padding-bottom: 20px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

footer h3
{
    font-size: 18px;
    font-weight: 800;

    display: block;
}

footer h3 a
{
    color: #2a3a3f;
}

footer h3 a:hover
{
    color: #fff;
}

@media (max-width: 1120px)
{
    .home-container
    {
        width: 90%;
    }
}

@media (max-width: 900px)
{
    .home-header h1
    {
        top: 50px;

        width: 90%;

        transform: translateX(-50%);
    }

    .home-image
    {
        top: 0;
        right: initial;
        left: 50%;

        max-width: 300px;

        transform: translateX(-50%);
    }

    .home-content
    {
        width: 100%;
        margin: 225px 0 0;

        text-align: center;
    }
}

@media (max-width: 600px)
{
    .home-header h1
    {
        font-size: 45px;
    }

    .home-header a
    {
        bottom: 100px;
    }
}
